
/* navbar */

  /* product */
  .product-photo {
    display: flex;
    justify-content: center;
  }
  .product-button {
    width:250px ;
  }
  .product-button button {
    width:200px;
    font-size: 25px;
    background-color: orangered;
    color: aliceblue;
    border-radius: 10px;
  }
  /* search */
  .hide {
    display: none;
  }
  #name_product {
    display: flex;
    justify-content: space-evenly;
    padding: 50px 0;
  }
  .star span {
    color: #ffd43b;
    font-size: 25px;
    margin-left: 3px;
  }
  /* footer  */
  .footer {
    display: flex;
    justify-content: space-around;
    background-color: #56c5f8;
  }